body {
  overflow: hidden;
}

.panel-container {
  display: block;
  overflow: hidden;
  position: absolute;
  z-index: 3;
  cursor: grab;
  left: 24px;
  bottom: 24px;
  width: 0px;
  height: 0px;
  background-color: #303030;
  border: 2px solid #f4f4f4;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 15px;
  transition: border 300ms ease-in-out;
  animation: visiblePanel 200ms linear forwards;
}

@keyframes visiblePanel {
  0% {
    width: 0px;
    height: 0px;
  }
  50% {
    width: 10vw;
    height: 11vh;
  }
  100% {
    width: 20vw;
    height: 22vh;
  }
}

.panel-container:active {
  border: 2px solid gold;
}

.panel-container .drag-obj {
  position: absolute;
  right: 3%;
  top: 4%;
  width: 16px;
  height: 16px;
  cursor: grab;
  filter: invert(100%);
  -webkit-user-drag: none;
}

.panel-container .drag-obj2 {
  position: absolute;
  left: 3%;
  top: 4%;
  width: 16px;
  height: 16px;
  cursor: pointer;
  -webkit-user-drag: none;
  z-index: 6;
}

.panel-container .nav-bar-panel img {
  width: 16px;
  height: 16px;
  filter: invert(100%);
  margin: 0;
  padding: 6px 3px 6px 3px;
  -webkit-user-drag: none;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.nav-bar-panel {
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 1px;
  bottom: 3.5%;
  left: 50%;
  transform: translateX(-50%);
  border-top: 1px solid #f4f4f4;
}

.panel-container .nav-bar-panel img:hover {
  scale: 1.02;
  filter: invert(78%) sepia(46%) saturate(364%) hue-rotate(179deg)
    brightness(101%) contrast(95%);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.img-1:hover {
  filter: invert(78%) sepia(46%) saturate(364%) hue-rotate(179deg)
    brightness(101%) contrast(95%);
}

.img-2:hover {
  filter: invert(78%) sepia(46%) saturate(364%) hue-rotate(179deg)
    brightness(101%) contrast(95%);
}

.img-3:hover {
  filter: invert(78%) sepia(46%) saturate(364%) hue-rotate(179deg)
    brightness(101%) contrast(95%);
}
.img-4:hover {
  filter: invert(78%) sepia(46%) saturate(364%) hue-rotate(179deg)
    brightness(101%) contrast(95%);
}
.img-5:hover {
  filter: invert(78%) sepia(46%) saturate(364%) hue-rotate(179deg)
    brightness(101%) contrast(95%);
}
.img-6:hover {
  filter: invert(78%) sepia(46%) saturate(364%) hue-rotate(179deg)
    brightness(101%) contrast(95%);
}
.img-7:hover {
  filter: invert(78%) sepia(46%) saturate(364%) hue-rotate(179deg)
    brightness(101%) contrast(95%);
}
.img-8:hover {
  filter: invert(78%) sepia(46%) saturate(364%) hue-rotate(179deg)
    brightness(101%) contrast(95%);
}
.img-9:hover {
  filter: invert(78%) sepia(46%) saturate(364%) hue-rotate(179deg)
    brightness(101%) contrast(95%);
}

.start-content,
.end-content,
.wall-content,
.weight-content,
.bomb-content,
.restart-content,
.run-content,
.configure-content,
.erase-content {
  opacity: 0.3;
}

.main-content-panel {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}

.main-content-panel h5 {
  font-weight: 600;
  animation: render 300ms linear forwards;
  cursor: grab;
  text-align: center;
}

.main-content-panel span h5 {
  font-weight: 100;
  font-size: 11px;
  font-style: italic;
  animation: render 300ms linear forwards;
  cursor: grab;
}

@keyframes render {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 1250px) {
  .panel-container {
    bottom: 0%;
  }

  .panel-container .drag-obj {
    top: 3%;
    width: 12px;
    height: 12px;
  }

  .panel-container .drag-obj2 {
    top: 3%;
    width: 12px;
    height: 12px;
  }

  .main-content-panel h5 {
    font-size: smaller;
  }

  .main-content-panel span h5 {
    font-size: 10px;
  }

  .panel-container .nav-bar-panel img {
    width: 12px;
    height: 12px;
    padding: 6px 2px 6px 2px;
  }
}

@media only screen and (max-width: 1100px) {
  .panel-container {
    animation: none;
    width: 300px;
    height: 200px;
  }

  .panel-container .drag-obj {
    top: 6%;
  }

  .panel-container .drag-obj2 {
    top: 6%;
  }
}

@media only screen and (max-width: 1200px) {
  .panel-container {
    bottom: 0%;
  }
}

@media only screen and (max-width: 1200px) {
  .panel-container {
    bottom: 0%;
  }
}

@media only screen and (max-width: 900px) {
  .panel-container {
    top: 70%;
    animation: none;
    width: 200px;
    height: 160px;
  }

  .panel-container .drag-obj {
    top: -5%;
    width: 12px;
    height: 12px;
  }

  .panel-container .drag-obj2 {
    top: -5%;
    width: 12px;
    height: 12px;
  }

  .main-content-panel h5 {
    font-size: smaller;
  }

  .main-content-panel span h5 {
    font-size: 8px;
  }

  .panel-container .nav-bar-panel img {
    width: 12px;
    height: 12px;
    padding: 6px 2px 6px 2px;
  }
}

@media only screen and (max-width: 800px) {
  .panel-container {
    visibility: hidden;
  }
}

@media only screen and (max-width: 700px) {
  .panel-container {
    top: 74%;
    width: 160px;
    height: 120px;
  }

  .main-content-panel h5 {
    font-size: xx-small;
  }

  .panel-container .drag-obj {
    top: -12%;
    width: 12px;
    height: 12px;
  }

  .panel-container .drag-obj2 {
    top: -12%;
    width: 12px;
    height: 12px;
  }

  .main-content-panel span h5 {
    font-size: 6px;
  }

  .panel-container .nav-bar-panel img {
    width: 10px;
    height: 10px;
    padding: 6px 1.3px 6px 1.3px;
  }

  .nav-bar-panel {
    gap: 0px;
  }
}

@media only screen and (max-width: 500px) {
  .panel-container {
    width: 100px;
    height: 60px;
  }

  .nav-bar-panel {
    gap: 0px;
    bottom: -15%;
  }

  .panel-container .drag-obj {
    top: -30%;
    width: 6px;
    height: 6px;
  }

  .panel-container .drag-obj2 {
    top: -30%;
    width: 6px;
    height: 6px;
  }

  .main-content-panel span h5 {
    font-size: 4px;
  }

  .panel-container .nav-bar-panel img {
    width: 5px;
    height: 5px;
    padding: 6px 1.3px 6px 1.3px;
  }
  .main-content-panel h5 {
    font-size: 5px;
  }

  .main-content-panel {
    top: 20%;
  }
}

@media only screen and (max-height: 700px) {
  .panel-container {
    visibility: hidden;
  }
}

@media only screen and (max-height: 1000px) and (max-width: 1100px) {
  .panel-container {
    top: 65%;
  }
}
@media only screen and (max-height: 900px) and (max-width: 1100px) {
  .panel-container {
    top: 60%;
  }
}
@media only screen and (max-height: 800px) and (max-width: 1100px) {
  .panel-container {
    top: 50%;
  }
}

@media only screen and (max-height: 800px) and (max-width: 1100px) {
  .panel-container {
    top: 50%;
  }
}

@media only screen and (min-width: 1850px) {
  .panel-container .drag-obj {
    top: 5%;
    width: 30px;
    height: 30px;
  }

  .panel-container .drag-obj2 {
    top: 5%;
    width: 30px;
    height: 30px;
  }

  .main-content-panel span h5 {
    font-size: 16px;
  }

  .panel-container .nav-bar-panel img {
    width: 25px;
    height: 25px;
    padding: 6px 4px 6px 4px;
  }
  .main-content-panel h5 {
    font-size: 16px;
  }
  .panel-container {
    animation: visiblePanelExtraJumbo 200ms linear forwards;
  }
}

@keyframes visiblePanelExtraJumbo {
  0% {
    width: 0px;
    height: 0px;
  }
  50% {
    width: 10vw;
    height: 11vh;
  }
  100% {
    width: 20vw;
    height: 22vh;
  }
}
