* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: white;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 3.5px;
}

.mazes-patterns {
  margin-left: 14px;
}

.container {
  padding: 0px;
  height: 100px;
  background-color: #303030;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  -webkit-user-drag: none;
}

.list .title img {
  vertical-align: middle;
  max-width: 30px;
  max-height: 30px;
  transition: transform 0.7s ease-in-out;
}

.selectedOption1 {
  transition: all 300ms ease-in-out;
  filter: invert(48%) sepia(45%) saturate(6085%) hue-rotate(167deg)
    brightness(103%) contrast(101%);
}

.selectedOption2 {
  transition: all 300ms ease-in-out;
  filter: invert(23%) sepia(74%) saturate(4790%) hue-rotate(314deg)
    brightness(99%) contrast(105%);
}

.selectedOption3 {
  transition: all 300ms ease-in-out;
  filter: invert(29%) sepia(64%) saturate(3017%) hue-rotate(2deg)
    brightness(104%) contrast(104%);
}

.selectedOption4 {
  transition: all 300ms ease-in-out;
  filter: invert(8%) sepia(95%) saturate(7488%) hue-rotate(246deg)
    brightness(103%) contrast(146%);
}

.selectedOption0 {
  transition: all 300ms ease-in-out;
  filter: invert(12%) sepia(7%) saturate(3109%) hue-rotate(331deg)
    brightness(95%) contrast(85%);
}

.selectedOption_1 {
  transition: all 300ms ease-in-out;
  filter: invert(57%) sepia(81%) saturate(485%) hue-rotate(68deg)
    brightness(83%) contrast(81%);
}

.selectedOption__1 {
  transition: all 300ms ease-in-out;
  filter: invert(74%) sepia(11%) saturate(4365%) hue-rotate(195deg)
    brightness(100%) contrast(110%);
}

.options.MuiListItem-padding,
.algos.MuiListItem-padding,
.title.MuiListItem-padding,
.list.MuiListItem-padding {
  padding: 0;
}

.list ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.list .title {
  cursor: pointer;
  font-size: 30px;
  display: flex;
  align-items: center;
}

.list .title-list {
  display: flex;
  justify-content: flex-start;
}

.list .algos {
  display: flex;
  justify-content: flex-end;
}

.image-nav1,
.image-navv1,
.image-nav2,
.image-nav3,
.image-nav4,
.image-nav5,
.image-nav6,
.image-nav7,
.image-nav0,
.image-nav8 {
  max-width: 36px;
  max-height: 36px;
  transition: all 300ms ease;
  cursor: pointer;
  filter: invert(100%) sepia(9%) saturate(1646%) hue-rotate(277deg)
    brightness(109%) contrast(109%);
  padding: 24px 22px 24px 22px;
  -webkit-user-drag: none;
}

a {
  -webkit-user-drag: none;
  color: white;
  text-decoration: none;
}

.list .title:hover img {
  transform: rotate(360deg);
  scale: 1.2;
  filter: invert(78%) sepia(59%) saturate(3377%) hue-rotate(68deg)
    brightness(109%) contrast(87%);
}

.image-nav1:hover,
.image-nav0:hover,
.image-nav2:hover,
.image-nav3:hover,
.image-nav4:hover,
.image-nav5:hover,
.image-nav6:hover,
.image-nav7:hover,
.image-nav8:hover {
  scale: 1.2;
  filter: invert(78%) sepia(46%) saturate(364%) hue-rotate(179deg)
    brightness(101%) contrast(95%);
}

.image-navv1:hover {
  scale: 1.2;
  filter: invert(78%) sepia(59%) saturate(3377%) hue-rotate(68deg)
    brightness(109%) contrast(87%);
}

.selection,
.selection2 {
  cursor: pointer;
  border: 2px solid white;
  color: white;
  border-radius: 4px;
  font-size: medium;
  width: 200px;
  height: 40px;
  background-color: #282828;
  transition: all 300ms ease-in-out;
  padding-left: 10px;
  padding-right: 10px;
}

.selection:focus,
.selection2:focus {
  border-top-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
  border-color: #afd8f8 !important;
}

.selection:hover,
.selection2:hover {
  border-color: #492058;
}

.option {
  background-color: #303030;
}

.configuration-tab {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 960px;
  height: 450px;
  background-color: #f4f4f4;
  color: #303030;
  border: 2px solid #202020;
  border-radius: 5px;
  z-index: 5;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  padding: 32px 16px 32px 16px;
  animation: configureIt 300ms linear forwards;
}

@keyframes configureIt {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

.configuration-tab > * {
  text-align: center;
  color: #303030;
}

.configuration-tab h2,
.configuration-tab h3 {
  font-weight: 800;
}

.speed div,
.speed {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.enabled-opt {
  opacity: 0.4;
  border: 2px solid var(--color-text);
  background-color: var(--color-text);
  color: white;
  padding: 8px 32px 8px 32px;
  cursor: pointer;
}

.help-div {
  margin-left: 30px;
}

.speed h3,
.tutorial h3 {
  color: #303030;
}

.configuration-tab .close button {
  font-size: 16px;
  border: 2px solid var(--color-text);
  background: linear-gradient(to left, #afd8f8 50%, #6495ed 50%) right;
  background-size: 200% 100%;
  color: black;
  padding: 10px 32px 10px 32px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  position: fixed;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}

.configuration-tab .close button:hover {
  background-position: left;
  /* color: #fff; */
}

.configuration-tab .tutorial button,
.toggle-btn-help {
  border: 2px solid var(--color-text);
  background-color: var(--color-text);
  color: white;
  padding: 8px 32px 8px 32px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.configuration-tab .toggle-btn-help:hover,
.configuration-tab .toggle-btn-help2:hover {
  box-shadow: 0px 1px 12px #f4f4f4 inset;
}

.configuration-tab .toggle-btn-help3:hover {
  box-shadow: 0px 1px 12px grey inset;
}

.untouchable {
  pointer-events: None;
}

@media screen and (max-width: 1300px) {
  .image-nav1,
  .image-navv1,
  .image-nav2,
  .image-nav3,
  .image-nav4,
  .image-nav5,
  .image-nav6,
  .image-nav7,
  .image-nav0,
  .image-nav8 {
    width: 26px;
    height: 26px;
    padding: 24px 12px 24px 12px;
  }

  .list .title {
    font-size: 24px;
  }
  .container {
    padding: 0;
  }
}

@media only screen and (max-width: 1100px) {
  .configuration-tab {
    top: 50%;
    width: 760px;
    height: 450px;
    padding: 14px 16px 4px 16px;
    z-index: 4;
  }

  .enabled-opt {
    padding: 4px 16px 4px 16px;
  }

  .configuration-tab .close button {
    padding: 4px 16px 4px 16px;
    bottom: 5%;
  }

  .configuration-tab .tutorial button,
  .toggle-btn-help {
    padding: 4px 16px 4px 16px;
  }
}

@media screen and (max-width: 985px) {
  .list .title span {
    display: none;
  }
  img {
    padding: 24px 6px 24px 6px;
  }

  .selection {
    width: 175px;
    height: 40px;
  }
}

@media screen and (max-width: 900px) {
  body {
    overflow: hidden;
  }

  .container {
    position: fixed;
    bottom: 0;
    width: 100vw;
  }

  .list .title span {
    display: none;
  }

  .image-nav1,
  .image-navv1,
  .image-nav2,
  .image-nav3,
  .image-nav4,
  .image-nav5,
  .image-nav6,
  .image-nav7,
  .image-nav0,
  .image-nav8 {
    max-width: 32px;
    max-height: 32px;
  }

  .selection {
    width: 175px;
    height: 24px;
    font-size: small;
  }

  .configuration-tab {
    top: -280%;
    width: 660px;
    height: 450px;
    padding: 14px 16px 4px 16px;
    z-index: 4;
    font-size: small;
  }
}

@media only screen and (max-width: 800px) {
  .configuration-tab {
    top: -280%;
    width: 460px;
    height: 450px;
    padding: 14px 16px 4px 16px;
    z-index: 4;
    font-size: x-small;
  }
}

@media screen and (max-width: 700px) {
  .list .title {
    display: none;
  }

  .list {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .help-div {
    margin-left: 0px;
  }

  .selection {
    width: 80vw;
    height: 24px;
    font-size: small;
  }

  .list .algos,
  .list .options {
    justify-content: center;
    margin: 0;
  }

  .container {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .configuration-tab {
    top: -180%;
    width: 260px;
    height: 350px;
    padding: 14px 16px 4px 16px;
    z-index: 4;
    font-size: xx-small;
  }

  .enabled-opt {
    padding: 4px 16px 4px 16px;
    font-size: x-small;
  }

  .selection2 {
    padding: 4px 16px 4px 16px;
    font-size: x-small;
    width: 90px;
  }

  .configuration-tab .close button {
    padding: 4px 16px 4px 16px;
    font-size: x-small;
  }

  .configuration-tab .tutorial button,
  .toggle-btn-help {
    padding: 4px 16px 4px 16px;
    font-size: x-small;
  }

  .speed div,
  .speed {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
}

@media screen and (max-width: 500px) {
  .image-nav1,
  .image-navv1,
  .image-nav2,
  .image-nav3,
  .image-nav4,
  .image-nav5,
  .image-nav6,
  .image-nav7,
  .image-nav0,
  .image-nav8 {
    max-width: 18px;
    max-height: 18px;
    padding: 24px 12px 24px 12px;
  }
}

@media screen and (max-width: 425px) {
  .image-nav1,
  .image-navv1,
  .image-nav2,
  .image-nav3,
  .image-nav4,
  .image-nav5,
  .image-nav6,
  .image-nav7,
  .image-nav0,
  .image-nav8 {
    padding: 24px 9px 24px 9px;
  }
}
