.container-tut {
  margin: 0;
  padding: 0;
  list-style: none;
  animation: configureIt 300ms linear forwards;
  z-index: 5;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  position: fixed; /* Position fixed to center the container */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

:root {
  --ft-size: 16px;
  --color-text: #303030;
}

.container-tut div {
  /* Styles for the container's content */
  padding: 32px 64px 32px 64px;
  width: 800px;
  height: 550px;
  background-color: #f4f4f4;
  border: 2px solid #202020;
  border-radius: 5px;
  text-align: center;
  font-size: 1.1rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.container-tut h4 {
  visibility: hidden;
}

.container-tut .sub-container1 h1,
.container-tut .sub-container2 h1,
.container-tut .sub-container3 h1,
.container-tut .sub-container4 h1,
.container-tut .sub-container5 h1,
.container-tut .sub-container6 h1,
.container-tut .sub-container7 h1 {
  color: var(--color-text);
}

.container-tut .sub-container7 .pathfv-tit {
  font-size: 70px;
}

.container-tut .sub-container1 h2,
.container-tut .sub-container2 h2,
.container-tut .sub-container3 h2,
.container-tut .sub-container4 h2,
.container-tut .sub-container5 h2,
.container-tut .sub-container6 h2,
.container-tut .sub-container7 h2 {
  font-weight: 595;
  color: var(--color-text);
}

.container-tut .sub-container2 {
  font-size: 0.9rem;
}

.container-tut .sub-container5,
.container-tut .sub-container6 {
  font-size: 0.825rem;
}

.container-tut .sub-container3 {
  font-size: 1.05rem;
}

.container-tut .sub-container4 {
  font-size: 0.82rem;
}

.container-tut .sub-container4 h3 span {
  font-weight: bold;
  color: var(--color-text);
}

.container-tut .sub-container1 h3,
.container-tut .sub-container2 h3,
.container-tut .sub-container3 h3,
.container-tut .sub-container4 h3,
.container-tut .sub-container5 h3,
.container-tut .sub-container6 h3,
.container-tut .sub-container7 h3 {
  font-weight: 350;
  color: var(--color-text);
}

.image-page-1,
.image-page-2,
.image-page-3 {
  max-width: 160px;
  max-height: 160px;
  -webkit-user-drag: none;
}

.image-page-4,
.image-page-5 {
  max-width: 300px;
  max-height: 300px;
  -webkit-user-drag: none;
}

.container-tut .skip {
  position: absolute;
  left: 30%;
  top: 79%;
  transform: translate(-50%, -50%);
}

.container-tut .buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container-tut button {
  position: absolute; /* Position absolute to place buttons at the bottom */
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  /* Styles for the buttons */
  padding: 10px 20px;
  background-color: #202020;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}

.buttons .navigate {
  position: absolute;
  left: 71.5%;
  top: 79%;
  transform: translate(-50%, -50%);
  display: flex;
}

.prev-but {
  margin-left: -134px;
}

.buttons button {
  font-weight: 400;
  font-size: 16px;
  white-space: nowrap;
  border: 2px solid var(--color-text);
  background: linear-gradient(to left, #afd8f8 50%, #6495ed 50%) right;
  background-size: 200% 100%;
  color: var(--color-text);
  padding: 12px 32px 12px 32px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.buttons button:hover {
  background-position: left;
  /* color: #fff; */
}

@keyframes configureIt {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 1000px) {
  .container-tut div {
    font-size: 1 rem;
    line-height: 2em;
    width: 500px;
    height: 700px;
  }

  .container-tut .skip {
    top: 80%;
  }

  .buttons .navigate {
    top: 80%;
  }

  .image-page-1,
  .image-page-2,
  .image-page-3 {
    width: 100px;
    height: 100px;
  }

  .image-page-4,
  .image-page-5 {
    width: 160px;
    height: 120px;
  }
}
@media only screen and (max-width: 1450px) {
  .container-tut div {
    font-size: 1rem;
    line-height: 2em;
  }

  .container-tut .skip {
    top: 80%;
  }

  .buttons .navigate {
    top: 80%;
  }

  .container-tut h4 {
    font-size: 13px;
  }

  .container-tut .sub-container7 .pathfv-tit {
    font-size: 36px;
  }

  .container-tut .sub-container2 {
    font-size: 0.7rem;
  }

  .container-tut .sub-container5,
  .container-tut .sub-container6 {
    font-size: 0.6rem;
  }

  .container-tut .sub-container3 {
    font-size: 0.7rem;
  }

  .container-tut .sub-container4 {
    font-size: 0.75rem;
  }

  .container-tut .sub-container1 {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 900px) {
  .container-tut div {
    padding: 32px 64px 32px 64px;
    width: 450px;
    height: 450px;
    font-size: 1.1rem;
    top: 10%;
  }

  .container-tut .skip {
    top: 75%;
  }

  .buttons .navigate {
    top: 75%;
  }

  .buttons .navigate .prev-but {
    margin-left: -90px;
  }

  .container-tut h3,
  .container-tut h4,
  .container-tut h1,
  .container-tut h2 {
    font-size: smaller;
    line-height: 1em;
  }

  .image-page-1,
  .image-page-2,
  .image-page-3 {
    width: 100px;
    height: 100px;
  }

  .buttons button {
    padding: 6px 12px 6px 12px;
    font-size: 14px;
  }

  .image-page-4,
  .image-page-5 {
    width: 160px;
    height: 120px;
  }
}

@media only screen and (max-width: 700px) {
  .container-tut div {
    padding: 32px 64px 32px 64px;
    width: 300px;
    height: 450px;
    font-size: 1.1rem;
    top: 10%;
  }

  .buttons button {
    padding: 4px 9px 4px 9px;
    font-size: 12px;
  }
}

@media only screen and (max-width: 600px) {
  .buttons .navigate {
    left: 75%;
  }
}

@media only screen and (max-width: 500px) {
  .container-tut div {
    padding: 32px 64px 32px 64px;
    width: 200px;
    height: 450px;
    font-size: 1.1rem;
    top: -35%;
  }

  .buttons button {
    padding: 2px 4px 2px 4px;
    font-size: 10px;
  }

  .buttons .navigate button:nth-child(1) {
    margin-left: -50px;
  }

  .image-page-1,
  .image-page-2,
  .image-page-3 {
    width: 100px;
    height: 100px;
  }

  .image-page-4,
  .image-page-5 {
    width: 160px;
    height: 120px;
  }

  .container-tut h4 {
    font-size: 14px;
  }

  .container-tut .sub-container1 h1,
  .container-tut .sub-container2 h1,
  .container-tut .sub-container3 h1,
  .container-tut .sub-container4 h1,
  .container-tut .sub-container5 h1,
  .container-tut .sub-container6 h1,
  .container-tut .sub-container7 h1 {
    color: var(--color-text);
  }

  .container-tut .sub-container7 .pathfv-tit {
    font-size: 40px;
  }

  .container-tut .sub-container2 {
    font-size: 0.8rem;
  }

  .container-tut .sub-container5,
  .container-tut .sub-container6 {
    font-size: 0.7rem;
  }

  .container-tut .sub-container3 {
    font-size: 0.8rem;
  }

  .container-tut .sub-container4 {
    font-size: 0.65rem;
  }

  .container-tut .sub-container1 {
    font-size: 0.9rem;
  }

  .buttons .navigate {
    left: 74%;
  }
}
@media only screen and (max-width: 425px) {
  .container-tut div {
    padding: 32px 64px 32px 64px;
    width: 140px;
    height: 400px;
    font-size: 1.1rem;
    top: -35%;
  }

  .container-tut .skip {
    top: 72%;
  }

  .buttons .navigate {
    top: 72%;
  }

  .image-page-1,
  .image-page-2,
  .image-page-3 {
    width: 40px;
    height: 40px;
  }

  .image-page-4,
  .image-page-5 {
    width: 120px;
    height: 80px;
  }

  .container-tut h4 {
    font-size: 14px;
  }

  .container-tut .sub-container1 h1,
  .container-tut .sub-container2 h1,
  .container-tut .sub-container3 h1,
  .container-tut .sub-container4 h1,
  .container-tut .sub-container5 h1,
  .container-tut .sub-container6 h1,
  .container-tut .sub-container7 h1 {
    color: var(--color-text);
  }

  .container-tut .sub-container7 .pathfv-tit {
    font-size: 40px;
  }

  .container-tut .sub-container2 {
    font-size: 0.7rem;
  }

  .container-tut .sub-container5,
  .container-tut .sub-container6 {
    font-size: 0.6rem;
  }

  .container-tut .sub-container3 {
    font-size: 0.7rem;
  }

  .container-tut .sub-container4 {
    font-size: 0.53rem;
  }

  .container-tut .sub-container1 {
    font-size: 0.85rem;
  }

  .container-tut .sub-container7 {
    font-size: 0.8rem;
  }

  .buttons .navigate {
    left: 72%;
  }
}

@media only screen and (min-width: 1601px) {
  .container-tut div {
    padding: 50px 74px 50px 74px;
    height: 550px;
  }
}

@media only screen and (min-width: 1701px) {
  .container-tut div {
    padding: 50px 74px 50px 74px;
    width: 1000px;
    height: 550px;
  }
}

@media only screen and (min-width: 1751px) {
  .container-tut div {
    padding: 50px 74px 50px 74px;
    width: 1000px;
    height: 600px;
  }
}

@media only screen and (min-width: 1901px) {
  .container-tut div {
    width: 1100px;
    height: 750px;
  }

  .container-tut .sub-container1,
  .container-tut .sub-container2,
  .container-tut .sub-container3,
  .container-tut .sub-container4,
  .container-tut .sub-container5,
  .container-tut .sub-container6,
  .container-tut .sub-container7 {
    padding-top: 100px;
    line-height: 3em;
  }
}

@media only screen and (min-width: 2201px) {
  .container-tut div {
    width: 1500px;
    height: 950px;
    font-size: 1.3rem;
  }

  .container-tut .sub-container1,
  .container-tut .sub-container2,
  .container-tut .sub-container3,
  .container-tut .sub-container4,
  .container-tut .sub-container5,
  .container-tut .sub-container6,
  .container-tut .sub-container7 {
    padding-top: 100px;
    line-height: 4em;
  }

  .image-page-1,
  .image-page-2,
  .image-page-3 {
    max-width: 200px;
    max-height: 200px;
  }

  .image-page-4,
  .image-page-5 {
    max-width: 400px;
    max-height: 400px;
  }

  .buttons button {
    font-size: large;
  }
}

@media only screen and (min-width: 2801px) {
  .container-tut div {
    width: 1700px;
    height: 1050px;
    font-size: 1.6rem;
  }
  .container-tut .sub-container1,
  .container-tut .sub-container2,
  .container-tut .sub-container3,
  .container-tut .sub-container4,
  .container-tut .sub-container5,
  .container-tut .sub-container6,
  .container-tut .sub-container7 {
    padding-top: 200px;
    line-height: 3em;
  }

  .image-page-2,
  .image-page-3 {
    max-width: 300px;
    max-height: 300px;
  }

  .image-page-4,
  .image-page-5 {
    max-width: 500px;
    max-height: 500px;
  }

  .buttons button {
    font-size: 28px;
  }
}

@media only screen and (max-height: 700px) and (min-width: 700px) {
  .container-tut div {
    font-size: 0.8rem;
    line-height: 1.7em;
    width: 500px;
    height: 400px;
  }

  /* .container-tut .skip {
    top: 83%;
  }

  .buttons .navigate {
    top: 83%;
  } */

  .image-page-1,
  .image-page-2,
  .image-page-3 {
    width: 100px;
    height: 100px;
  }

  .image-page-4,
  .image-page-5 {
    width: 160px;
    height: 120px;
  }
  /* 
  .container-tut h4 {
    font-size: 14px;
  }

  .container-tut .sub-container1 h1,
  .container-tut .sub-container2 h1,
  .container-tut .sub-container3 h1,
  .container-tut .sub-container4 h1,
  .container-tut .sub-container5 h1,
  .container-tut .sub-container6 h1,
  .container-tut .sub-container7 h1 {
    color: var(--color-text);
  }

  .container-tut .sub-container7 .pathfv-tit {
    font-size: 40px;
  } */

  .container-tut .sub-container2 {
    font-size: 0.6rem;
  }

  .container-tut .sub-container5,
  .container-tut .sub-container6 {
    font-size: 0.5rem;
  }

  .container-tut .sub-container3 {
    font-size: 0.6rem;
  }

  .container-tut .sub-container4 {
    font-size: 0.53rem;
  }

  .container-tut .sub-container1 {
    font-size: 0.75rem;
  }

  .container-tut .sub-container7 {
    font-size: 0.7rem;
  }

  .container-tut .skip {
    left: 36%;
    top: 79%;
  }

  .buttons .navigate {
    left: 66%;
    top: 79%;
  }

  .buttons button {
    padding: 6px 8px 6px 8px;
    font-size: 16px;
  }
}

@media only screen and (max-height: 700px) and (max-width: 699px) {
  .container-tut .sub-container1,
  .container-tut .sub-container2,
  .container-tut .sub-container3,
  .container-tut .sub-container4,
  .container-tut .sub-container5,
  .container-tut .sub-container6,
  .container-tut .sub-container7 {
    margin-bottom: 30%;
  }

  .image-page-1,
  .image-page-2,
  .image-page-3 {
    width: 100px;
    height: 100px;
  }

  .image-page-4,
  .image-page-5 {
    width: 160px;
    height: 120px;
  }
  /* 
  .container-tut h4 {
    font-size: 14px;
  }

  .container-tut .sub-container1 h1,
  .container-tut .sub-container2 h1,
  .container-tut .sub-container3 h1,
  .container-tut .sub-container4 h1,
  .container-tut .sub-container5 h1,
  .container-tut .sub-container6 h1,
  .container-tut .sub-container7 h1 {
    color: var(--color-text);
  }

  .container-tut .sub-container7 .pathfv-tit {
    font-size: 40px;
  } */

  .container-tut .sub-container2 {
    font-size: 0.6rem;
  }

  .container-tut .sub-container5,
  .container-tut .sub-container6 {
    font-size: 0.5rem;
  }

  .container-tut .sub-container3 {
    font-size: 0.6rem;
  }

  .container-tut .sub-container4 {
    font-size: 0.53rem;
  }

  .container-tut .sub-container1 {
    font-size: 0.75rem;
  }

  .container-tut .sub-container7 {
    font-size: 0.7rem;
  }

  .container-tut .skip {
    top: 80%;
  }

  .buttons .navigate {
    top: 80%;
  }
}
